<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Cats. Mieow !
  </h1>
</div>
<div ng-if="error != null">
    {{ error }}
</div>
<div> 
  <cat-gender class="male" [gender]="'male'" [cats]="maleCats"></cat-gender>
  <cat-gender class="female" [gender]="'female'" [cats]="femaleCats"></cat-gender>
  <h3>Use buttons below to select Sorting tech.</h3>
  <div class="sort-btns">
    <sort-button sortUnderscore text="Underscore" [cats]=cats [maleCats]="maleCats" [femaleCats]="femaleCats"></sort-button>
    <sort-button sortObservable text="Observable" [cats]=cats [maleCats]="maleCats" [femaleCats]="femaleCats"></sort-button>
    <sort-button sortVanilla text="VanillaJS" [cats]=cats [maleCats]="maleCats" [femaleCats]="femaleCats"></sort-button>
  </div>
</div>
