<div style="text-align:center">
  <h1>
    Cats. Mieow !
  </h1>
</div>
<div ng-if="error != null">
    {{ error }}
</div>
<div> 
  <cat-gender class="male" [gender]="'male'" [cats]="maleCats"></cat-gender>
  <cat-gender class="female" [gender]="'female'" [cats]="femaleCats"></cat-gender>
  <div class="sort-btns">
    <sort-button sortUnderscore text="Sort data" [persons]="persons" [(mCats)]="maleCats" [(fCats)]="femaleCats"></sort-button>
  </div>
  <div class="box">
    {{ personsStringified }}
  <div>
</div>
